#cboxOverlay,
#colorbox,
#cboxWrapper {
	z-index: 99999;
}

#cboxOverlay {
	background: #000;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}

#colorbox {
	outline: 0;
	position: absolute;
}

#cboxWrapper {
	left: 0;
	max-width: none;
	position: absolute;
	top: 0;
}

#cboxContent {
	color: #fff;
	position: relative;
}

#cboxLoadedContent img,
.cboxPhoto {
	display: block;
	height: auto;
	margin: auto;
	max-width: 100%;
}

.cboxIframe {
	background: #fff;
	width: 100%;
	height: 100%;
	display: block;
	padding: 0;
	margin: 0;
}

#cboxTitle {
	box-sizing: border-box;
	color: #fff;
	margin: 0;
	padding: 1rem;
	text-align: center;
	width: 100%;
}

.hide-title #cboxTitle {
	font-size: 0;
	padding: 0;
}

#cboxCurrent {
	position: absolute;
	top: -20px;
	right: 0;
	color: #ccc;
}

#cboxPrevious,
#cboxNext,
#cboxSlideshow,
#cboxClose {
	border: 0;
	padding: 0;
	margin: 0;
	overflow: visible;
	width: auto;
	background: none;
}

#cboxPrevious:active,
#cboxNext:active,
#cboxSlideshow:active,
#cboxClose:active,
#cboxPrevious:focus,
#cboxNext:focus,
#cboxSlideshow:focus,
#cboxClose:focus {
	outline: 0;
}

#cboxSlideshow {
	position: absolute;
	top: -20px;
	right: 90px;
	color: #fff;
}

#cboxPrevious,
#cboxNext {
	height: 40px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	width: 30px;
	text-indent: -9999px;
	filter: invert(100%);
	-webkit-filter: invert(100%);
}

#cboxPrevious {
	left: 5px;
	background: url('../images/left-arrow_icon.svg') no-repeat left center;
}

#cboxNext {
	right: 5px;
	background: url('../images/right-arrow_icon.svg') no-repeat right center;
}

#cboxClose {
	border: none;
	display: block;
	height: 24px;
	overflow: hidden;
	position: absolute;
	right: 5px;
	top: 10px;
	text-indent: -100px;
	width: 24px;
}

#cboxClose:after {
	color: #fff;
	content: url('../images/plus_icon.svg');
	height: 100%;
	left: 0;
	position: absolute;
	text-indent: initial;
	top: 0;
	width: 100%;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.featured-image-information #cboxClose {
	top: -30px;
}
