#tagsdiv-wsu_mag_issue_tax,
label[for="tagsdiv-wsu_mag_issue_tax-hide"] {
	display: none;
}

.ttfmake-section-body {
	float: none;
	margin: 0 auto;
	max-width: 1030px;
	overflow: hidden;
}

.ttfmake-section .wsuwp-spine-builder-column {
	background: content-box #f5f5f5;
	height: auto;
	margin-bottom: 0;
	min-height: 30px;
	padding: 0;
}
.ttfmake-section-wsuwphalves .wsuwp-spine-builder-column {
	width: 50%;
}
.ttfmake-section-wsuwphalves .wsuwp-spine-builder-column-position-1 {
	padding-right: 5px;
}
.ttfmake-section-wsuwphalves .wsuwp-spine-builder-column-position-2 {
	padding-left: 5px;
}
#issue-articles {
	float: none;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
	font-size: 100%;
	margin: 0 auto;
	padding: 12px 0 0;
	position: relative;
	margin: 0;
}
#issue-articles.ttfmake-section-body {
	height: auto;
	min-height: 0;
}
.wsuwp-spine-builder-column > div {
	border: none;
	height: 0;
	margin-bottom: 0;
	overflow: hidden;
}
.wsuwp-spine-builder-column > .issue-article,
.wsuwp-spine-builder-column > .wsm-item-placeholder,
.wsuwp-spine-builder-column > .spine-builder-overlay-open {
	height: auto;
}
.wsuwp-spine-builder-column > .wsm-item-placeholder {
	border: 1px dotted #222;
	height: 30px;
}
.ttfmake-section-open .wsuwp-spine-builder-column:before {
    content: 'Drag an article here';
    position: absolute;
    line-height: 30px;
    padding: 0 1rem;
    opacity: 0.25;
}
.ttfmake-sortable-handle {
	display: block;
	height: 30px;
	position: relative;
}
#issue-articles div:last-of-type .ttfmake-sortable-handle,
.ui-sortable-helper .ttfmake-sortable-handle,
.ttfmake-section .issue-article .ttfmake-sortable-handle {
	border-bottom: 1px solid #d9d9d9;
}
.ttfmake-sortable-handle .wsuwp-builder-column-title {
	box-sizing: border-box;
	margin: 0;
	overflow: hidden;
	padding: 0 60px 0 1rem;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}
#issue-articles .ttfmake-sortable-handle .wsuwp-builder-column-title {
	padding: 0 1rem;
}
#issue-articles .ttfmake-sortable-handle a {
	display: none;
}

.wsm-article-body {
	background-size: cover;
	position: relative;
}
.ttfmake-section .ui-sortable-helper {
	width: 254px;
}
#issue-articles .wsm-article-body,
.ttfmake-section .ui-sortable-helper .wsm-article-body {
	display: none;
}
.ttfmake-section .wsm-article-body {
	display: block;
}
.ttfmake-section-wsuwpsingle .wsm-article-body {
	height: 450px;
	text-align: right;
}
.ttfmake-section-wsuwphalves .wsm-article-body {
	position: relative;
	padding-bottom: 60%;
}
.secondary-articles .wsm-article-body {
	background-color: #edf3f4;
	background-size: 33%;
	background-repeat: no-repeat;
	padding-bottom: 32%;
	-webkit-transition: background-color .3s ease;
	transition: background-color .3s ease;
}
.home-headline-head-wrapper {
	bottom: 0;
	box-sizing: border-box;
	padding: 0 2rem 1rem 1rem;
	width: 100%;
}
.ttfmake-section .home-headline-head-wrapper {
	position: absolute;
}
.ttfmake-section-wsuwphalves .home-headline-head-wrapper {
	background: rgba(0,0,0,.7);
	color: #fff;
}
.secondary-articles .home-headline-head-wrapper {
	background: none;
	color: #2a3033;
	padding-left: calc(33% + 15px);
	top: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
#poststuff .wsm-article-body h2 {
	font-family: "museo-slab";
	font-size: 1.6rem;
	font-weight: 900;
	letter-spacing: 0;
	line-height: 1.1em;
	margin-bottom: .5rem;
	padding: .5em 0 .2em 0;
}
#poststuff .has-featured-img h2,
#poststuff .ttfmake-section-wsuwphalves h2 {
	color: #fff;
}
#poststuff .secondary-articles h2 {
	color: #5e6a71;
	font-size: 1.2rem;
	padding: .5rem 0 0;
	-webkit-box-ordinal-group: 3;
	-webkit-order: 2;
	-ms-flex-order: 2;
	order: 2;
}
h2 + .article-section {
	margin-top: -.5rem;
}
.article-section {
	text-transform: uppercase;
}
.secondary-articles .article-section {
	-webkit-box-ordinal-group: 2;
	-webkit-order: 1;
	-ms-flex-order: 1;
	order: 1;
	margin-top: .6rem;
}
.home-subtitle {
	display: none;
}
.secondary-articles .home-subtitle {
	display: block;
	font-weight: 300;
	-webkit-box-ordinal-group: 4;
	-webkit-order: 3;
	-ms-flex-order: 3;
	order: 3;
}
